


    <table id="newServiceTable" class="table table-responsive table-striped">
        <thead>
            <tr>
                <th>Master Case Number</th>
                <th>Service Type</th>
                <th>Client Name</th>
                <th>CFS Worker</th>
                <th>Date Started</th>
                <th>Date Ended</th>
                <th>Status</th>



            </tr>
        </thead>

        <tbody>
            @foreach (var service in Model.ExpiredServices)
            {

                <tr>
                    <td>@service.MasterCaseNumber</td>
                    <td>@service.ServiceType.ServiceAbbrieviation</td>

                    <td>@Html.ActionLink((string)service.Client.FirstName + " " + (string)service.Client.LastName, "View", "Client", new { id = service.Client.Id }, null)</td>

                    <td>
                        @Html.ActionLink((string)service.CfsWorker.FirstName + " " + (string)service.CfsWorker.LastName, "View", "CfsWorker", new { id = service.CfsWorker.Id }, null)
                    </td>
                    <td>@(service.ServiceStart != null ? service.ServiceStart.ToString("d") : "---")</td>
                    <td>@(service.ServiceStop != null ? service.ServiceStop.ToString("d") : "---")</td>
                    <td>
                        @if (service.OnHold)
                        {
                            <span class="label label-default">On Hold</span>
                        }
                        else
                        {
                            <span class="label label-success">Active</span>
                        }
                    </td>





            </tr>
            }
        </tbody>
    </table>

