@model JumpLineUp.ViewModels.SupportServices.SupportServiceIndexViewModel
@using System.ServiceModel.Configuration
@using System.Web.UI.WebControls
@using JumpLineUp.Helpers
@using JumpLineUp.Models

@{
    ViewBag.Title = "SupportServices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/>
<div class="panel panel-default">

    <div class="panel-heading">
        @if (User.IsInRole(RoleName.CanAddEditSupportServices))
        {
            <div class="btn-toolbar pull-right" style="margin: 14px 0px;">
                @Html.ActionLink("Add a new Service", "create", "SupportServices", new { @class = "btn btn-primary" })
            </div>
        }
        
        <h2>Support Services</h2>
    </div><!--Panel Heading End-->
    <div class="panel-body">
        <div class="well">
            
            <table id="newServiceTable" class="table table-responsive table-striped">
                <thead>
                <tr>
                    <th>Master Case Number</th>
                    <th>Service Type</th>
                    <th>Client Name</th>
                    <th>CFS Worker</th>
                    <th>Youth Involved</th>
                    <th>Others Involved</th>
                    <th>Date Started</th>
                    <th>Date Ended</th>
                    
                    

                </tr>
                </thead>

                <tbody>
                @foreach (var service in Model.NewSupportServices)
                {

                    <tr>
                        <td>@service.MasterCaseNumber</td>
                        <td>@service.ServiceType.ServiceAbbrieviation</td>

                        <td>@Html.ActionLink(service.Client.FirstName + " " + service.Client.LastName, "View", "Client", new { id = service.Client.Id }, null)</td>
                       
                        <td>
                            @Html.ActionLink(service.CfsWorker.FirstName + " " + service.CfsWorker.LastName, "View", "CfsWorker", new { id = service.CfsWorker.Id},null)
                        </td>
                            
                    
                    

                        <td>                            
                            @if (service.Youth.Count > 0)
                            {
                                foreach (var kid in service.Youth)
                                {
                                    <span >@Html.ActionLink(kid.FirstName + " " + kid.LastName, "View", "Youth", new{ id = kid.Id},null)</span><br/>
                                }
                            }
                            else
                            {
                                <span> ---</span>
                            }</td>
                        <td>@if (service.OtherContacts.Count > 0)
                            {
                                foreach (var others in service.OtherContacts)
                                {
                                    <span>@Html.ActionLink(others.FirstName + " " +others.LastName, "View", "OtherContact", new{ id = others.Id},null)</span><br />
                                }
                            }
                            else
                            {
                                <span> ---</span>
                            }
                        </td>
                        <td>@(service.ServiceStart != null ? service.ServiceStart.Value.ToString("d"):"---")</td>
                        <td>@(service.ServiceStop != null ? service.ServiceStop.Value.ToString("d"): "---")</td>
                        
                    

                       

                    </tr>
                }
                </tbody>
            </table>
      
        </div><!-- End of Well-->
    </div><!--Panel Body End-->
</div>



@section scripts{
    <script>
        $(document).ready(function () {


            var tableName = "#newServiceTable";
            $(tableName).DataTable({
                "columnDefs": [
                    {
                        //"targets": 4,
                        //"orderable": false
                    }
                ]
            });

            //$("[data-toggle=popover]")
            //    .popover({ html: true });
            //
            //$('body').on('click', function (e) {
            //    //did not click a popover toggle or popover
            //    if ($(e.target).data('toggle') !== 'popover'
            //        && $(e.target).parents('.popover.in').length === 0) { 
            //        $('[data-toggle="popover"]').popover('hide');
            //    }
            //});



        });
    </script>
}
  
