@using JumpLineUp.Helpers
@model JumpLineUp.Models.SupportService

@{
}

<br/>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3>@Model.Client.LastName Family</h3>
        @Model.ServiceType.ServiceName Service out of the @Model.ServiceArea.ServiceAreaDescription.
    </div><!-- Panel Heading End --->
    <div class="panel-body">
        
        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    <label>Master Case Number</label>
                    <div class="form-control-static">
                        @Model.MasterCaseNumber
                    </div>
                </div>

                <div class="form-group">
                    <label>Authorization Number</label>
                    <div class="form-control-static">
                        @Model.AuthorizationNumber
                    </div>
                </div>
            </div><!-- Left Column End --->

            <div class="col-md-6">
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Service Start Date</label>
                            <div class="form-control-static">
                                @Model.ServiceStart.Value.ToString("MM/dd/yyyy")
                            </div>
                        </div>
                    </div><!-- End of inner left column --->

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Service Start Date</label>
                            <div class="form-control-static">
                                @Model.ServiceStop.Value.ToString("MM/dd/yyyy")
                            </div>
                        </div>
                    </div><!-- End of inner right column --->

                </div><!-- End of 1st inner row --->


                <div class="row">

                    <div class="col-md-12">
                        @{
                            var totalDays = Model.ServiceStop - @Model.ServiceStart;
                            var daysIn = DateTime.Today - Model.ServiceStart;
                            var decimalPercentage = (daysIn.Value.TotalDays / totalDays.Value.TotalDays) * 100;
                            var percentage = Math.Round(decimalPercentage);
                        }
                        <label>Service Completion:</label>   @daysIn.Value.TotalDays out of @totalDays.Value.TotalDays days
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="@daysIn" aria-valuemin="0" aria-valuemax="@totalDays" style="width:@percentage%">
                                @percentage% Complete
                            </div>
                        </div>
                    </div><!-- End of inner column --->

                </div><!-- End of 2nd inner row --->

            </div><!-- Right Column End --->

        </div><!-- Row End --->



        <div class="panel-group">
            
            <h3>Individuals Involved</h3>

            <div class="col-md-12">

                <!------- CFS WORKERS INNER PANEL -------------->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><a data-toggle="collapse" href="#collapseCfs">DHHS Child Family Services Worker</a></h4>
                    </div>
                
                    <div id="collapseCfs" class="panel-collapse collapse">
                        
                        <div class="panel-body">

                            <div class="row">

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>CFS Worker Name</label>
                                        <p class="form-control-static">
                                            @Model.CfsWorker.FirstName @Model.CfsWorker.LastName
                                        </p>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>CFS Email Address</label>
                                        <p class="form-control-static">
                                            <a href="mailto:@Model.CfsWorker.Email">@Model.CfsWorker.Email</a>
                                        </p>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>CFS Phone Number</label>
                                        <p class="form-control-static">
                                            <a href="tel:@Model.CfsWorker.Phone">@Phone.DisplayPhone(Model.CfsWorker.Phone)</a>
                                        </p>
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Office Location</label>
                                        <p class="form-control-static">
                                            @Model.CfsWorker.OfficeLocation
                                        </p>
                                    </div>
                                </div>

                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>Status</label>
                                        <p>
                                            @if (Model.CfsWorker.IsActive)
                                            {
                                                <span class="label label-success">Active</span>
                                            }
                                            else
                                            {
                                                <span class="label label-default">Disabled</span>
                                            }
                                        </p>
                                    </div>
                                </div>


                            </div>

                        </div>
                        

                    </div>
                    
                </div><!--- END OF CFS WORKER PANE -->
                
                
                
                
                <!------- ADULT CLIENT INNER PANEL -------------->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><a data-toggle="collapse" href="#collapseClient">Adult Client</a></h4>
                    </div>
                
                    <div id="collapseClient" class="panel-collapse collapse">
                        
                        <div class="panel-body">

                            <div class="row">

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>CFS Worker Name</label>
                                        <p class="form-control-static">
                                            @Model.Client.FirstName @Model.Client.LastName
                                        </p>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Phone Number</label>
                                        <p class="form-control-static">
                                            <a href="tel:@Model.Client.Phone">@Phone.DisplayPhone(@Model.Client.Phone)</a>
                                        </p>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Master Case Number</label>
                                        <p class="form-control-static">
                                            @Model.Client.MasterCaseNumber
                                        </p>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Client ID Number</label>
                                        <p class="form-control-static">
                                            @Model.Client.ClientId
                                        </p>
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Street Address</label>
                                        <p class="form-control-static">
                                            @Model.Client.Street1
                                        </p>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Street Suffix</label>
                                        <p class="form-control-static">
                                            @Model.Client.Street2
                                        </p>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>City</label>
                                        <p class="form-control-static">
                                            @Model.Client.City
                                        </p>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>State</label>
                                        <p class="form-control-static">
                                            @Model.Client.State
                                        </p>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Zip Code</label>
                                        <p class="form-control-static">
                                            @Model.Client.Zip
                                        </p>
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Status</label>
                                        <p>
                                            @if (Model.Client.IsEnabled)
                                            {
                                                <span class="label label-success">Active</span>
                                            }
                                            else
                                            {
                                                <span class="label label-default">Disabled</span>
                                            }
                                        </p>
                                    </div>
                                </div>

                                <div class="col-md-9">

                                </div>

                            </div>

                        </div>
                    </div>
                    
                </div><!--- END OF ADULT CLIENT PANE -->

                
                @if (Model.FosterParent != null)
                {

                    <!------- ADULT CLIENT INNER PANEL -------------->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4><a data-toggle="collapse" href="#collapseFoster">Foster Family</a></h4>
                        </div>
                        
                        <div id="collapseFoster" class="panel-collapse collapse">
                            
                            <div class="panel-body">

                                <div class="row">



                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Foster Parent - 1</label>
                                            <p class="form-control-static">
                                                @Model.FosterParent.FirstName1 @Model.FosterParent.LastName1
                                            </p>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Foster Parent 1 Phone Number</label>
                                            <p class="form-control-static">
                                                <a href="tel:@Model.FosterParent.Phone1">@Phone.DisplayPhone(@Model.FosterParent.Phone1)</a>
                                            </p>
                                        </div>
                                    </div>



                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Foster Parent - 2</label>
                                            <p class="form-control-static">
                                                @Model.FosterParent.FirstName2 @Model.FosterParent.LastName2
                                            </p>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Foster Parent 1 Phone Number</label>
                                            <p class="form-control-static">
                                                <a href="tel:@Model.FosterParent.Phone2">@Phone.DisplayPhone(@Model.FosterParent.Phone2)</a>
                                            </p>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Street Address</label>
                                            <p class="form-control-static">
                                                @Model.FosterParent.Street1
                                            </p>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Street Suffix</label>
                                            <p class="form-control-static">
                                                @Model.FosterParent.Street2
                                            </p>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>City</label>
                                            <p class="form-control-static">
                                                @Model.FosterParent.City
                                            </p>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>State</label>
                                            <p class="form-control-static">
                                                @Model.FosterParent.State
                                            </p>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Zip Code</label>
                                            <p class="form-control-static">
                                                @Model.FosterParent.Zip
                                            </p>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Status</label>
                                            <p>
                                                @if (Model.FosterParent.IsEnabled)
                                                {
                                                    <span class="label label-success">Active</span>
                                                }
                                                else
                                                {
                                                    <span class="label label-default">Disabled</span>
                                                }
                                            </p>
                                        </div>
                                    </div>

                                    <div class="col-md-9">

                                    </div>

                                </div>

                            </div>
                        </div>
                        
                        
                    </div><!--- END OF ADULT CLIENT PANE -->

                }


                @if (Model.Youth != null)
                {
                    var youthCount = 1;

                    foreach (var youth in Model.Youth)
                    {
                        <!------- YOUTH CLIENT INNER PANEL -------------->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4><a data-toggle="collapse" href="#collapseYouth-@youthCount">Youth @youthCount - @youth.FirstName @youth.LastName</a></h4>
                            </div>

                            <div id="collapseYouth-@youthCount" class="panel-collapse collapse">

                                <div class="panel-body">

                                    <div class="row">



                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Youth Name</label>
                                                <p class="form-control-static">
                                                    @youth.FirstName @youth.LastName
                                                </p>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Birth Date</label>
                                                <p class="form-control-static">
                                                    @youth.BirthDate.ToString("d")
                                                </p>
                                            </div>
                                        </div>



                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Age</label>
                                                <p class="form-control-static">
                                                    @youth.GetAge()
                                                </p>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Vehicle Restraints</label>
                                                <p class="form-control-static">
                                                    @youth.RestraintType.RestraintName
                                                </p>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Youth Comments and Notes</label>
                                                <p class="form-control-static">
                                                    @youth.YouthComment
                                                </p>
                                            </div>
                                        </div>

                                       
                                    </div>

                                    <div class="row">

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Status</label>
                                                <p>
                                                    @if (youth.IsEnabled)
                                                    {
                                                        <span class="label label-success">Active</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="label label-default">Disabled</span>
                                                    }
                                                </p>
                                            </div>
                                        </div>

                                        <div class="col-md-9">

                                        </div>

                                    </div>

                                </div>
                            </div>


                        </div><!--- END OF ADULT CLIENT PANE -->

                        
                        
                            youthCount++;
                        
                    }






                }

















            </div>
        </div>

    </div><!-- Panel Body End --->

    
    <div class="panel-footer">
        <input type="button" class="btn btn-primary" value="Back" onclick="window.history.back()" />
    </div>
</div>
