@using JumpLineUp.Helpers
@model JumpLineUp.ViewModels.SupportServices.ServiceScheduleCreateViewModel

<br/>
@{
    var selectList = new List<SelectListItem>
    {
        new SelectListItem{ Text = "1 Hour", Value = "1"},
        new SelectListItem{ Text = "2 Hours", Value = "2"},
        new SelectListItem{ Text = "3 Hours", Value = "3"},
        new SelectListItem{ Text = "4 Hours", Value = "4"},
        new SelectListItem{ Text = "5 Hours", Value = "5"},
        new SelectListItem{ Text = "6 Hours", Value = "6"},
        new SelectListItem{ Text = "7 Hours", Value = "7"},
        new SelectListItem{ Text = "8 Hours", Value = "8"},
        new SelectListItem{ Text = "9 Hours", Value = "9"},
        new SelectListItem{ Text = "10 Hours", Value = "10"},
        new SelectListItem{ Text = "11 Hours", Value = "11"},
        new SelectListItem{ Text = "12 Hours", Value = "12"},
        new SelectListItem{ Text = "13 Hours", Value = "13"},
        new SelectListItem{ Text = "14 Hours", Value = "14"},
        new SelectListItem{ Text = "15 Hours", Value = "15"},
        new SelectListItem{ Text = "16 Hours", Value = "16"}
    };
}

@using (Html.BeginForm("SaveSchedule", "SupportServices"))
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Schedule for @Model.SupportService.Client.LastName Family - MC#: @Model.SupportService.MasterCaseNumber</h3>
        </div><!-- Panel Heading End-->

        <div class="panel-body">
            
        <div class="row">
            <div class="col-md-6">
                
                <div class="form-group">
                    @Html.LabelFor(m => m.ServiceSchedule.ScheduleStartDate)
                    @Html.TextBoxFor(m => m.ServiceSchedule.ScheduleStartDate, @"{0:MM/dd/yyyy}", new { @class = "form-control", Id = "scheduleStart" })
                    @Html.ValidationMessageFor(m => m.ServiceSchedule.ScheduleStartDate)
                </div>

            </div>
            <div class="col-md-6">
                
                <div class="form-group">
                    @Html.LabelFor(m => m.ServiceSchedule.ScheduleEndDate)
                    @Html.TextBoxFor(m => m.ServiceSchedule.ScheduleEndDate, @"{0:MM/dd/yyyy}", new { @class = "form-control", Id = "scheduleEnd" })
                    @Html.ValidationMessageFor(m => m.ServiceSchedule.ScheduleEndDate)
                </div>

            </div>

        </div>
        
        
        
        
        


            <hr />
            <div class="row">
                <div class="col-md-6">

                    <span>Address Quick Entry - Pick Up</span><br />

                    <div class="btn-group btn-group-xs">
                        @if (Model.SupportService.FosterParent != null)
                        {
                            <a href="#" id="fc-pu" class="btn btn-link btn-xs">Foster Parent Address</a>
                        }
                        
                        <a href="#" id="cl-pu" class="btn btn-link btn-xs">Clients Address</a>
                    </div><br /><br />

                    <div class="form-group">
                        @Html.LabelFor(m => m.ServiceSchedule.PickupDetails)
                        @Html.TextAreaFor(m => m.ServiceSchedule.PickupDetails, new { @class = "form-control", Id = "pickUpLocation", rows = 8 })
                        @Html.ValidationMessageFor(m => m.ServiceSchedule.PickupDetails)
                    </div><br />
                </div><!-- Column End-->

                <div class="col-md-6">

                    <span>Address Quick Entry - Drop Off</span><br />

                    <div class="btn-group btn-group-xs">
                        @if (Model.SupportService.FosterParent != null)
                        {
                            <a href="#" id="fc-do" class="btn btn-link btn-xs">Foster Parent Address</a>
                        }
                        <a href="#" id="cl-do" class="btn btn-link btn-xs">Clients Address</a>
                    </div><br /><br />

                    <div class="form-group">
                        @Html.LabelFor(m => m.ServiceSchedule.DropOffLocation)
                        @Html.TextAreaFor(m => m.ServiceSchedule.DropOffLocation, new { @class = "form-control", Id = "dropOffLocation", rows = 8 })
                        @Html.ValidationMessageFor(m => m.ServiceSchedule.DropOffLocation)
                    </div>
                </div><!-- Column End-->

            </div><!-- Row End-->

            <div class="row">

                <div class="col-md-12">

                    <span>Address Quick Entry - Visitation Areas </span><br />
                    <div class="btn-group btn-group-xs">
                        <a href="#" id="cl-vi" class="btn btn-link btn-xs">Clients Address</a>
                        @{
                            foreach (var office in Model.BlcsOffices)
                            {
                                <a href="#" id="@office.LocationDescription.Substring(0, 3)" class="btn btn-link btn-xs">@office.LocationDescription</a>
                            }
                        }
                    </div>
                </div>

            </div>
            <div class="row">
            
                <div class="col-md-6">
                    <br/>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ServiceSchedule.VisitationLocation)
                        @Html.TextAreaFor(m => m.ServiceSchedule.VisitationLocation, new {@class = "form-control", Id = "visitLocation", rows = 8})
                        @Html.ValidationMessageFor(m => m.ServiceSchedule.VisitationLocation)
                    </div>
                </div><!-- Column End-->

                <div class="col-md-6">
                    <br />
                    <div class="form-group">
                        @Html.LabelFor(m => m.ServiceSchedule.Restrictions)
                        @Html.TextAreaFor(m => m.ServiceSchedule.Restrictions, new {@class = "form-control", rows = 8})
                        @Html.ValidationMessageFor(m => m.ServiceSchedule.Restrictions)
                    </div>
                </div><!-- Column End-->

        </div><!-- Row End-->
            
            <br/>
        <hr/>
        <h3>Weekly Schedule</h3>

        <div class="panel-group">
            <div class="row">





                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>Sunday</h4>
                        </div>
                        <div class="panel-body">

                            <div class="form-group">
                                @Html.CheckBoxFor(m => m.ServiceSchedule.Sunday, new { data_toggle = "toggle", data_on = "Scheduled", data_off = "N/A" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.ServiceSchedule.SunStartTime)
                                @Html.TextBoxFor(m => m.ServiceSchedule.SunStartTime, new { disabled = "disabled", @class = "form-control" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.ServiceSchedule.SunDuration)
                                @Html.DropDownListFor(m => m.ServiceSchedule.SunDuration, selectList, "-- Select Duration --", new { disabled = "disabled", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>Monday</h4>
                        </div>
                        <div class="panel-body">

                            <div class="form-group">
                                @Html.CheckBoxFor(m => m.ServiceSchedule.Monday, new { data_toggle = "toggle", data_on = "Scheduled", data_off = "N/A" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.ServiceSchedule.MonStartTime)
                                @Html.TextBoxFor(m => m.ServiceSchedule.MonStartTime, new { disabled = "disabled", @class = "form-control" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.ServiceSchedule.MonDuration)
                                @Html.DropDownListFor(m => m.ServiceSchedule.MonDuration, selectList, "-- Select Duration --", new { disabled = "disabled", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>Tuesday</h4>
                        </div>
                        <div class="panel-body">

                            <div class="form-group">
                                @Html.CheckBoxFor(m => m.ServiceSchedule.Tuesday, new { data_toggle = "toggle", data_on = "Scheduled", data_off = "N/A" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.ServiceSchedule.TueStartTime)
                                @Html.TextBoxFor(m => m.ServiceSchedule.TueStartTime, new { disabled = "disabled", @class = "form-control" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.ServiceSchedule.TueDuration)
                                @Html.DropDownListFor(m => m.ServiceSchedule.TueDuration, selectList, "-- Select Duration --", new { disabled = "disabled", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>Wednesday</h4>
                        </div>
                        <div class="panel-body">

                            <div class="form-group">
                                @Html.CheckBoxFor(m => m.ServiceSchedule.Wednesday, new { data_toggle = "toggle", data_on = "Scheduled", data_off = "N/A" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.ServiceSchedule.WedStartTime)
                                @Html.TextBoxFor(m => m.ServiceSchedule.WedStartTime, new { disabled = "disabled", @class = "form-control" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.ServiceSchedule.WedDuration)
                                @Html.DropDownListFor(m => m.ServiceSchedule.WedDuration, selectList, "-- Select Duration --", new { disabled = "disabled", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                    

            </div><!-- Row End-->
        </div>
        <div class="form-group">
                <div class="row">
                
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4>Thursday</h4>
                            </div>
                            <div class="panel-body">

                                <div class="form-group">
                                    @Html.CheckBoxFor(m => m.ServiceSchedule.Thursday, new { data_toggle = "toggle", data_on = "Scheduled", data_off = "N/A" })
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.ServiceSchedule.ThurStartTime)
                                    @Html.TextBoxFor(m => m.ServiceSchedule.ThurStartTime, new { disabled = "disabled", @class = "form-control" })
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.ServiceSchedule.ThurDuration)
                                    @Html.DropDownListFor(m => m.ServiceSchedule.ThurDuration, selectList, "-- Select Duration --", new { disabled = "disabled", @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4>Friday</h4>
                            </div>
                            <div class="panel-body">

                                <div class="form-group">
                                    @Html.CheckBoxFor(m => m.ServiceSchedule.Friday, new { data_toggle = "toggle", data_on = "Scheduled", data_off = "N/A" })
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.ServiceSchedule.FriStartTime)
                                    @Html.TextBoxFor(m => m.ServiceSchedule.FriStartTime, new { disabled = "disabled", @class = "form-control" })
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.ServiceSchedule.FriDuration)
                                    @Html.DropDownListFor(m => m.ServiceSchedule.FriDuration, selectList, "-- Select Duration --", new { disabled = "disabled", @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4>Saturday</h4>
                            </div>
                            <div class="panel-body">

                                <div class="form-group">
                                    @Html.CheckBoxFor(m => m.ServiceSchedule.Saturday, new { data_toggle = "toggle", data_on = "Scheduled", data_off = "N/A" })
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.ServiceSchedule.SatStartTime)
                                    @Html.TextBoxFor(m => m.ServiceSchedule.SatStartTime, new { disabled = "disabled", @class = "form-control" })
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.ServiceSchedule.SatDuration)
                                    @Html.DropDownListFor(m => m.ServiceSchedule.SatDuration, selectList, "-- Select Duration --", new { disabled = "disabled", @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    

                </div>
            </div>
        
            
            @Html.HiddenFor(m=>m.ServiceSchedule.Id, new { value = Model.ServiceSchedule.Id })
            @Html.HiddenFor(m=>m.ServiceSchedule.SupportServiceId, new { value = Model.ServiceSchedule.SupportServiceId})

        </div><!-- Panel Body End-->

        <div class="panel-footer">
            <input type="button" class="btn btn-primary" value="Back" onclick="window.history.back()" />
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-primary">Submit Schedule</button>
        </div><!-- Panel Footer End-->

    </div><!-- Panel End-->
}



@section scripts{
    <script>

        $(document).ready(function () {

            $("#scheduleStart").datepicker({
                showButtonPanel: true,
                changeMonth: true,
                changeYear: true,
                showOtherMonths: true,
                selectOtherMonths: true
            });

            $("#scheduleEnd").datepicker({
                showButtonPanel: true,
                changeMonth: true,
                changeYear: true,
                showOtherMonths: true,
                selectOtherMonths: true
            });

            $("#ServiceSchedule_SunStartTime").timepicker();
            $("#ServiceSchedule_MonStartTime").timepicker();
            $("#ServiceSchedule_TueStartTime").timepicker();
            $("#ServiceSchedule_WedStartTime").timepicker();
            $("#ServiceSchedule_ThurStartTime").timepicker();
            $("#ServiceSchedule_FriStartTime").timepicker();
            $("#ServiceSchedule_SatStartTime").timepicker();

            $("#ServiceSchedule_Sunday").change(function() {
                if ($("#ServiceSchedule_Sunday").prop('checked')) {
                    $("#ServiceSchedule_SunStartTime").prop('disabled', false);
                    $("#ServiceSchedule_SunDuration").prop('disabled', false);
                } else {
                    $("#ServiceSchedule_SunStartTime").prop('disabled', true);
                    $("#ServiceSchedule_SunDuration").prop('disabled', true);
                }

            });

            $("#ServiceSchedule_Monday").change(function () {
                if ($("#ServiceSchedule_Monday").prop('checked')) {
                    $("#ServiceSchedule_MonStartTime").prop('disabled', false);
                    $("#ServiceSchedule_MonDuration").prop('disabled', false);
                } else {
                    $("#ServiceSchedule_MonStartTime").prop('disabled', true);
                    $("#ServiceSchedule_MonDuration").prop('disabled', true);
                }

            });

            $("#ServiceSchedule_Tuesday").change(function () {
                if ($("#ServiceSchedule_Tuesday").prop('checked')) {
                    $("#ServiceSchedule_TueStartTime").prop('disabled', false);
                    $("#ServiceSchedule_TueDuration").prop('disabled', false);
                } else {
                    $("#ServiceSchedule_TueStartTime").prop('disabled', true);
                    $("#ServiceSchedule_TueDuration").prop('disabled', true);
                }

            });

            $("#ServiceSchedule_Wednesday").change(function () {
                if ($("#ServiceSchedule_Wednesday").prop('checked')) {
                    $("#ServiceSchedule_WedStartTime").prop('disabled', false);
                    $("#ServiceSchedule_WedDuration").prop('disabled', false);
                } else {
                    $("#ServiceSchedule_WedStartTime").prop('disabled', true);
                    $("#ServiceSchedule_WedDuration").prop('disabled', true);
                }

            });

            $("#ServiceSchedule_Thursday").change(function () {
                if ($("#ServiceSchedule_Thursday").prop('checked')) {
                    $("#ServiceSchedule_ThurStartTime").prop('disabled', false);
                    $("#ServiceSchedule_ThurDuration").prop('disabled', false);
                } else {
                    $("#ServiceSchedule_ThurStartTime").prop('disabled', true);
                    $("#ServiceSchedule_ThurDuration").prop('disabled', true);
                }

            });

            $("#ServiceSchedule_Friday").change(function () {
                if ($("#ServiceSchedule_Friday").prop('checked')) {
                    $("#ServiceSchedule_FriStartTime").prop('disabled', false);
                    $("#ServiceSchedule_FriDuration").prop('disabled', false);
                } else {
                    $("#ServiceSchedule_FriStartTime").prop('disabled', true);
                    $("#ServiceSchedule_FriDuration").prop('disabled', true);
                }

            });

            $("#ServiceSchedule_Saturday").change(function () {
                if ($("#ServiceSchedule_Saturday").prop('checked')) {
                    $("#ServiceSchedule_SatStartTime").prop('disabled', false);
                    $("#ServiceSchedule_SatDuration").prop('disabled', false);
                } else {
                    $("#ServiceSchedule_SatStartTime").prop('disabled', true);
                    $("#ServiceSchedule_SatDuration").prop('disabled', true);
                }

            });












            @if (Model.SupportService.FosterParent != null)
            {
            <text>
            $("#fc-pu").click(function(e) {
                e.preventDefault();
                var address = "Foster Parents (@Model.SupportService.FosterParent.LastName1 Residence) " +
                "@AddressDisplay.Display(0, Model.SupportService.FosterParent.Id, 0)";

                $("#pickUpLocation").val($("#pickUpLocation").val() + address);
                $("#pickUpLocation").focus();
            });
            </text>
            }


            $("#cl-pu").click(function (e) {
                e.preventDefault();
                var address = "Biological Parents (@Model.SupportService.Client.LastName Residence) " +
                    "@AddressDisplay.Display(Model.SupportService.Client.Id, 0, 0)";

                $("#pickUpLocation").val($("#pickUpLocation").val() + address);
                $("#pickUpLocation").focus();
            });



            @if (Model.SupportService.FosterParent != null)
            {
            <text>
                $("#fc-do").click(function (e) {
                    e.preventDefault();
                    var address = "Foster Parents (@Model.SupportService.FosterParent.LastName1 Residence) " +
                        "@AddressDisplay.Display(0, Model.SupportService.FosterParent.Id, 0)";
                    $("#dropOffLocation").val($("#dropOffLocation").val() + address);
                    $("#dropOffLocation").focus();
                });
            </text>
            }


            $("#cl-do").click(function (e) {
                e.preventDefault();
                var address = "Biological Parents (@Model.SupportService.Client.LastName Residence) " +
                    "@AddressDisplay.Display(Model.SupportService.Client.Id, 0, 0)";

                $("#dropOffLocation").val($("#dropOffLocation").val() + address);
                $("#dropOffLocation").focus();
            });

            $("#cl-vi").click(function (e) {
                e.preventDefault();
                var address = "Biological Parents (@Model.SupportService.Client.LastName Residence) " +
                    "@AddressDisplay.Display(Model.SupportService.Client.Id, 0, 0)";

                $("#visitLocation").val($("#visitLocation").val() + address);
                $("#visitLocation").focus();
            });


            @{
                foreach (var office in Model.BlcsOffices)
                {
                    <text>
                    $("#@office.LocationDescription.Substring(0,3)").click(function (e) {
                        e.preventDefault();
                        var address = "@office.LocationDescription - " +
                            "@AddressDisplay.Display(0, 0, @office.Id)";

                        $("#visitLocation").val($("#visitLocation").val() + address);
                        $("#visitLocation").focus();
                    });
                    </text>
                }
            }






        })
    </script>
}