@using JumpLineUp.Migrations
@using JumpLineUp.Models
@model JumpLineUp.ViewModels.SupportServices.SupportServicesViewModel
@{
    ViewBag.Title = "New Support Service";
}


<br/>   


<form>
    <div class="panel panel-default">


        <div class="panel-heading">
            <h2>Create New Support Service</h2>
        </div><!-- End of Panel Header -->

        <div class="panel-body">

            <div class="container">
                <div class="row">

                    <div class="col-md-6">

                        <h4>Basic Case Information</h4>

                        <div class="form-group">
                            <label for="MasterCaseNumber">Master Case Number</label>
                            <input id="MasterCaseNumber" type="text" value="" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label for="AuthorizationNumber">Authorization Number: if available</label>
                            <input id="AuthorizationNumber" type="text" value="" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label for="ServiceAreaId">Service Area</label>
                            <select id="ServiceAreaId" type="text" value="" class="form-control">
                                <option value>-- Select Service Area --</option>
                                @foreach (var serviceArea in Model.ServiceAreas)
                                {
                                    <option value="@serviceArea.Id">@serviceArea.ServiceAreaAbbreviation</option>
                                }
                            </select>
                        </div>
                        
                        <div class="form-group">
                            <label for="ServiceTypeId">Service Type </label>
                            <select id="ServiceTypeId" type="text" value="" class="form-control">
                                <option value>-- Select Service Area --</option>
                                @foreach (var type in Model.ServiceTypes)
                                {
                                    <option value="@type.Id">@type.ServiceAbbrieviation - @type.ServiceName</option>
                                }
                            </select>
                        </div>

                    </div><!-- End of Col-Md-6 -->

                    <div class="col-md-6">
                        <h4>Service Timeline</h4>

                        <div class="form-group">
                            <label for="ServiceStart">Service Start Date</label>
                            <input id="ServiceStart" type="text" value="" class="form-control datepicker" />
                        </div>

                        <div class="form-group">
                            <label for="ServiceStop">Service End Date</label>
                            <input id="ServiceStop" type="text" value="" class="form-control datepicker" />
                        </div>


                    </div><!-- End of Col-Md-6 -->

                </div><!-- End of Row -->

                <hr />

                <div class="row">
                    <div class="col-md-6">
                        
                        <h4>Individuals Involved</h4>

                        <div class="form-group">
                            <label for="YouthId">
                                <button class="btn btn-default btn-xs btn-modal-youth" type="button" style="color: lightgreen">
                                    <i class="glyphicon glyphicon-plus"> </i>
                                </button>
                                Youth Involved
                            </label>

                            <div class="tt-container">
                                <input id="YouthId" type="text" value="" class="form-control" />
                            </div>
                        </div>
                    
                        <ul id="youthId" class="list-group typeahead-selectedbox">
                            
                        </ul>
                    
                    

                        <div class="form-group">
                            <label for="ClientIds">Clients Involved</label>
                            <div class="tt-container">
                                <input id="ClientIds" type="text" value="" class="form-control typeahead" />
                            </div>
                        </div>

                        <ul id="clients" class="list-group typeahead-selectedbox">
                            <li id="selected-client" class="list-group-item">&nbsp;</li>
                        </ul>
                    
                    
                    
                    

                        <div class="form-group">
                            <label for="CfsWorkerId">DHHS Case Worker</label>
                            <div class="tt-container">
                                <input id="CfsWorkerId" type="text" value="" class="form-control" />
                            </div>
                        </div>
                        
                        <ul id="cfsWorker" class="list-group typeahead-selectedbox">
                            <li id="selected-cfsWorker" class="list-group-item">&nbsp;</li>
                        </ul>

                    </div><!-- End of Col-Md-6 -->
                    <div class="col-md-6">
                        
                    </div><!-- End of Col-Md-6 -->
                </div><!-- End of Row -->

            </div><!-- End of Container -->

        </div><!-- End of Panel Body -->

        <div class="panel-footer">
            
            <button class="btn btn-primary"> Add New Service </button>

        </div><!-- End of Panel Footer -->
    </div><!-- End of Panel -->
</form>

@section scripts{
    <script src="~/Scripts/ApiAddEditForms/PopupYouthForm.js"></script>    
    <script>
    $(document).ready(function() {


                var vm = {};
                var youthInServices = {};

                $(".datepicker").datepicker({
                    showButtonPanel: true,
                    changeMonth: true,
                    changeYear: true,
                    showOtherMonths: true,
                    selectOtherMonths: true
                });


//YOUTH TYPEAHEAD --------------------------------------------------------------------------------------------------------------------
//This allows the user to start typing, and it will query the database and allow multiple selection of youth items.
                var youth = new Bloodhound({
                    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('firstName', 'lastName'),
                    queryTokenizer: Bloodhound.tokenizers.whitespace,
                    remote: {
                        url: '/api/youths?query=%QUERY',
                        wildcard: '%QUERY'
                    }
                });

                $('#YouthId').typeahead({
                    minLength: 3,
                    highlight: true
                },
                    {
                        name: 'youthId',
                        display: "youth as youth.firstName + ' ' + youth.lastName",
                        source: youth,
                        templates: {
                            empty: ['none found'].join('\n'),
                            suggestion: function (data) {
                                return '<div><strong>' + data.firstName + ' ' + data.lastName + '</strong></div>';
                            }
                        }
                    }).on("typeahead:select",
                    function (e, youth) {
                        vm.selectedyouth.push(youth.id.toString());
                        $("#youthId").append("<li class ='list-group-item'>" +
                            youth.firstName + " " + youth.lastName + "<span id='" + youth.id + "' class='close'>X</span></li>");
                    });

                //Clears out the client when the x is clicked by getting the youth id, checking if its in the array, and removing it.  It also removes the list item.
                $("#youthId").on("click", ".close", function () {

                    var youthId = $(this).attr("id");

                    if (jQuery.inArray(youthId, vm.youth) != -1) {
                        vm.youth = jQuery.grep(vm.youth, function (value) {
                            return value != youthId;
                        });
                        $(this).parent().remove();
                    } else {
                        $(this).parent().remove();
                    }
                });

                $('#CfsWorkerId').typeahead({
                    minLength: 3,
                    highlight: true
                },
                    {
                        name: 'cfsWorkerId',
                        display: "cfsWorker as cfsWorker.firstName + ' ' + cfsWorker.lastName",
                        source: cfsWorker,
                        templates: {
                            empty: [
                                '<div>',
                                'none found',
                                '</div>'
                            ].join('\n'),
                            suggestion: function (data) {
                                return '<div><strong>' + data.firstName + ' ' + data.lastName + '</strong></div>';
                            }
                        }
                    }).on("typeahead:select",
                    function (e, cfsWorker) {
                        viewModel.cfsWorkerId = cfsWorker.id;
                        document.getElementById("selected-cfsWorker").innerHTML = cfsWorker.firstName + " " + cfsWorker.lastName;

                        //$("#clients").append("<li class ='list-group-item'>" + client.firstName + " " + client.lastName + "</li>");
                    });



                //CLIENTS TYPEAHEAD----------------------------------------------------------------------------------------------------------------
                var clients = new Bloodhound({
                    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('masterCaseNumber', 'firstName', 'lastName'),
                    queryTokenizer: Bloodhound.tokenizers.whitespace,
                    remote: {
                        url: '/api/clients?query=%QUERY',
                        wildcard: '%QUERY'
                    }
                });

                $('#ClientIds').typeahead({
                    minLength: 3,
                    highlight: true
                },
                    {
                        name: 'clientId',
                        display: "client as client.firstName + ' ' + client.lastName",
                        source: clients,
                        templates: {
                            empty: [
                                '<div>',
                                'none found',
                                '</div>'
                            ].join('\n'),
                            suggestion: function (data) {
                                return '<div><strong>' + data.firstName + ' ' + data.lastName + '</strong></div>';
                            }
                        }
                    }).on("typeahead:select",
                    function (e, client) {
                        viewModel.clientId = client.id;
                        document.getElementById("selected-client").innerHTML = client.firstName + " " + client.lastName;

                        //$("#clients").append("<li class ='list-group-item'>" + client.firstName + " " + client.lastName + "</li>");
                    });
        });
    </script>

}