@using System.Collections.Specialized
@using JumpLineUp.Helpers
@model JumpLineUp.ViewModels.SupportServices.SupportServiceDetailViewModel

@{
}

<br/>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3>@Model.SupportServices.Client.LastName Family</h3>
        @Model.SupportServices.ServiceType.ServiceName Service out of the @Model.SupportServices.ServiceArea.ServiceAreaDescription.
    </div><!-- Panel Heading End --->
    <div class="panel-body">
        
        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    <label>Master Case Number</label>
                    <div class="form-control-static">
                        @Model.SupportServices.MasterCaseNumber
                    </div>
                </div>

                <div class="form-group">
                    <label>Authorization Number</label>
                    <div class="form-control-static">
                        @Model.SupportServices.AuthorizationNumber
                    </div>
                </div>
            </div><!-- Left Column End --->

            <div class="col-md-6">
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Service Start Date</label>
                            <div class="form-control-static">
                                @Model.SupportServices.ServiceStart.Value.ToString("MM/dd/yyyy")
                            </div>
                        </div>
                    </div><!-- End of inner left column --->

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Service Start Date</label>
                            <div class="form-control-static">
                                @Model.SupportServices.ServiceStop.Value.ToString("MM/dd/yyyy")
                            </div>
                        </div>
                    </div><!-- End of inner right column --->

                </div><!-- End of 1st inner row --->


                <div class="row">

                    <div class="col-md-12">
                        @{
                            var totalDays = Model.SupportServices.ServiceStop - @Model.SupportServices.ServiceStart;
                            var daysIn = DateTime.Today - Model.SupportServices.ServiceStart;
                            var decimalPercentage = (daysIn.Value.TotalDays / totalDays.Value.TotalDays) * 100;
                            var percentage = Math.Round(decimalPercentage);
                        }
                        <label>Service Completion:</label>   @daysIn.Value.TotalDays out of @totalDays.Value.TotalDays days
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="@daysIn" aria-valuemin="0" aria-valuemax="@totalDays" style="width:@percentage%">
                                @percentage% Complete
                            </div>
                        </div>
                    </div><!-- End of inner column --->

                </div><!-- End of 2nd inner row --->

            </div><!-- Right Column End --->

        </div><!-- Row End --->



        <div class="panel-group">
            
            <h3>Individuals Involved</h3>

            <div class="col-md-12">

                <!------- CFS WORKERS INNER PANEL -------------->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><a data-toggle="collapse" href="#collapseCfs">DHHS Child Family Services Worker</a></h4>
                    </div>
                
                    <div id="collapseCfs" class="panel-collapse collapse">
                        
                        <div class="panel-body">

                            <div class="row">

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>CFS Worker Name</label>
                                        <p class="form-control-static">
                                            @Model.SupportServices.CfsWorker.FirstName @Model.SupportServices.CfsWorker.LastName
                                        </p>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>CFS Email Address</label>
                                        <p class="form-control-static">
                                            <a href="mailto:@Model.SupportServices.CfsWorker.Email">@Model.SupportServices.CfsWorker.Email</a>
                                        </p>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>CFS Phone Number</label>
                                        <p class="form-control-static">
                                            <a href="tel:@Model.SupportServices.CfsWorker.Phone">@Phone.DisplayPhone(Model.SupportServices.CfsWorker.Phone)</a>
                                        </p>
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Office Location</label>
                                        <p class="form-control-static">
                                            @Model.SupportServices.CfsWorker.OfficeLocation
                                        </p>
                                    </div>
                                </div>

                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>Status</label>
                                        <p>
                                            @if (Model.SupportServices.CfsWorker.IsActive)
                                            {
                                                <span class="label label-success">Active</span>
                                            }
                                            else
                                            {
                                                <span class="label label-default">Disabled</span>
                                            }
                                        </p>
                                    </div>
                                </div>


                            </div>

                        </div>
                        

                    </div>
                    
                </div><!--- END OF CFS WORKER PANE -->
                
                
                
                
                <!------- ADULT CLIENT INNER PANEL -------------->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><a data-toggle="collapse" href="#collapseClient">Adult Client</a></h4>
                    </div>
                
                    <div id="collapseClient" class="panel-collapse collapse">
                        
                        <div class="panel-body">

                            <div class="row">

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>CFS Worker Name</label>
                                        <p class="form-control-static">
                                            @Model.SupportServices.Client.FirstName @Model.SupportServices.Client.LastName
                                        </p>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Phone Number</label>
                                        <p class="form-control-static">
                                            <a href="tel:@Model.SupportServices.Client.Phone">@Phone.DisplayPhone(@Model.SupportServices.Client.Phone)</a>
                                        </p>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Master Case Number</label>
                                        <p class="form-control-static">
                                            @Model.SupportServices.Client.MasterCaseNumber
                                        </p>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Client ID Number</label>
                                        <p class="form-control-static">
                                            @Model.SupportServices.Client.ClientId
                                        </p>
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Street Address</label>
                                        <p class="form-control-static">
                                            @Model.SupportServices.Client.Street1
                                        </p>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Street Suffix</label>
                                        <p class="form-control-static">
                                            @Model.SupportServices.Client.Street2
                                        </p>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>City</label>
                                        <p class="form-control-static">
                                            @Model.SupportServices.Client.City
                                        </p>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>State</label>
                                        <p class="form-control-static">
                                            @Model.SupportServices.Client.State
                                        </p>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Zip Code</label>
                                        <p class="form-control-static">
                                            @Model.SupportServices.Client.Zip
                                        </p>
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Status</label>
                                        <p>
                                            @if (Model.SupportServices.Client.IsEnabled)
                                            {
                                                <span class="label label-success">Active</span>
                                            }
                                            else
                                            {
                                                <span class="label label-default">Disabled</span>
                                            }
                                        </p>
                                    </div>
                                </div>

                                <div class="col-md-9">

                                </div>

                            </div>

                        </div>
                    </div>
                    
                </div><!--- END OF ADULT CLIENT PANE -->

                
                @if (Model.SupportServices.FosterParent != null)
                {

                    <!------- ADULT CLIENT INNER PANEL -------------->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4><a data-toggle="collapse" href="#collapseFoster">Foster Family</a></h4>
                        </div>
                        
                        <div id="collapseFoster" class="panel-collapse collapse">
                            
                            <div class="panel-body">

                                <div class="row">



                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Foster Parent - 1</label>
                                            <p class="form-control-static">
                                                @Model.SupportServices.FosterParent.FirstName1 @Model.SupportServices.FosterParent.LastName1
                                            </p>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Foster Parent 1 Phone Number</label>
                                            <p class="form-control-static">
                                                <a href="tel:@Model.SupportServices.FosterParent.Phone1">@Phone.DisplayPhone(@Model.SupportServices.FosterParent.Phone1)</a>
                                            </p>
                                        </div>
                                    </div>



                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Foster Parent - 2</label>
                                            <p class="form-control-static">
                                                @Model.SupportServices.FosterParent.FirstName2 @Model.SupportServices.FosterParent.LastName2
                                            </p>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Foster Parent 1 Phone Number</label>
                                            <p class="form-control-static">
                                                <a href="tel:@Model.SupportServices.FosterParent.Phone2">@Phone.DisplayPhone(@Model.SupportServices.FosterParent.Phone2)</a>
                                            </p>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Street Address</label>
                                            <p class="form-control-static">
                                                @Model.SupportServices.FosterParent.Street1
                                            </p>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Street Suffix</label>
                                            <p class="form-control-static">
                                                @Model.SupportServices.FosterParent.Street2
                                            </p>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>City</label>
                                            <p class="form-control-static">
                                                @Model.SupportServices.FosterParent.City
                                            </p>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>State</label>
                                            <p class="form-control-static">
                                                @Model.SupportServices.FosterParent.State
                                            </p>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Zip Code</label>
                                            <p class="form-control-static">
                                                @Model.SupportServices.FosterParent.Zip
                                            </p>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Status</label>
                                            <p>
                                                @if (Model.SupportServices.FosterParent.IsEnabled)
                                                {
                                                    <span class="label label-success">Active</span>
                                                }
                                                else
                                                {
                                                    <span class="label label-default">Disabled</span>
                                                }
                                            </p>
                                        </div>
                                    </div>

                                    <div class="col-md-9">

                                    </div>

                                </div>

                            </div>
                        </div>
                        
                        
                    </div><!--- END OF ADULT CLIENT PANE -->

                }


                @if (Model.SupportServices.Youth != null)
                {
                    var youthCount = 1;

                    foreach (var youth in Model.SupportServices.Youth)
                    {
                        <!------- YOUTH CLIENT INNER PANEL -------------->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4><a data-toggle="collapse" href="#collapseYouth-@youthCount">Youth @youthCount - @youth.FirstName @youth.LastName</a></h4>
                            </div>

                            <div id="collapseYouth-@youthCount" class="panel-collapse collapse">

                                <div class="panel-body">

                                    <div class="row">



                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Youth Name</label>
                                                <p class="form-control-static">
                                                    @youth.FirstName @youth.LastName
                                                </p>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Birth Date</label>
                                                <p class="form-control-static">
                                                    @youth.BirthDate.ToString("d")
                                                </p>
                                            </div>
                                        </div>



                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Age</label>
                                                <p class="form-control-static">
                                                    @youth.GetAge()
                                                </p>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Vehicle Restraints</label>
                                                <p class="form-control-static">
                                                    @youth.RestraintType.RestraintName
                                                </p>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Youth Comments and Notes</label>
                                                <p class="form-control-static">
                                                    @youth.YouthComment
                                                </p>
                                            </div>
                                        </div>

                                       
                                    </div>

                                    <div class="row">

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Status</label>
                                                <p>
                                                    @if (youth.IsEnabled)
                                                    {
                                                        <span class="label label-success">Active</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="label label-default">Disabled</span>
                                                    }
                                                </p>
                                            </div>
                                        </div>

                                        <div class="col-md-9">

                                        </div>

                                    </div>

                                </div>
                            </div>


                        </div><!--- END OF ADULT CLIENT PANE -->
                            youthCount++;
                        
                    }
                }

                @if (Model.SupportServices.OtherContacts != null)
                {
                    var otherCount = 1;

                    foreach (var other in Model.SupportServices.OtherContacts)
                    {
                        <!------- Other INNER PANEL -------------->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4><a data-toggle="collapse" href="#collapseOther-@otherCount">Other Contact @otherCount - @other.FirstName @other.LastName</a></h4>
                            </div>

                            <div id="collapseOther-@otherCount" class="panel-collapse collapse">

                                <div class="panel-body">

                                    <div class="row">



                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Other Contact Name1</label>
                                                <p class="form-control-static">
                                                    @other.FirstName @other.LastName
                                                </p>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Other Contact Phone Number</label>
                                                <p class="form-control-static">
                                                    <a href="tel:@other.Phone">@Phone.DisplayPhone(@other.Phone)</a>
                                                </p>
                                            </div>
                                        </div>



                                        <div class="col-md-6">
                                            

                                        
                                        </div>

                                    </div>

                                    <div class="row">

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Street Address</label>
                                                <p class="form-control-static">
                                                    @other.Street1
                                                </p>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Street Suffix</label>
                                                <p class="form-control-static">
                                                    @other.Street2
                                                </p>
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>City</label>
                                                <p class="form-control-static">
                                                    @other.City
                                                </p>
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>State</label>
                                                <p class="form-control-static">
                                                    @other.State
                                                </p>
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Zip Code</label>
                                                <p class="form-control-static">
                                                    @other.Zip
                                                </p>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Status</label>
                                                <p>
                                                    @if (other.IsEnabled)
                                                    {
                                                        <span class="label label-success">Active</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="label label-default">Disabled</span>
                                                    }
                                                </p>
                                            </div>
                                        </div>

                                        <div class="col-md-9">

                                        </div>

                                    </div>

                                    </div>

                                </div>
                            </div>
                        otherCount++;
                    }
                }

                @if (Model.ServiceSchedule != null)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4><a data-toggle="collapse" href="#collapseSchedule">Current Schedule</a></h4>
                        </div>

                        <div id="collapseSchedule" class="panel-collapse collapse">

                            <div class="panel-body">
                                <div class="row">
                                    
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Schedule Start</label>
                                            <p class="form-control-static">@Model.ServiceSchedule.ScheduleStartDate.ToString("d")</p>
                                        </div>
                                    </div>
                                    
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Schedule End</label>
                                            <p class="form-control-static">@Model.ServiceSchedule.ScheduleEndDate.ToString("d")</p>
                                        </div>
                                    </div>

                                </div>
                                <hr/>
                                <div class="row">

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Pick Up Details</label>
                                            <p class="form-control-static">@Model.ServiceSchedule.PickupDetails</p>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Drop Off Details</label>
                                            <p class="form-control-static">@Model.ServiceSchedule.DropOffLocation</p>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Visitation Details</label>
                                            <p class="form-control-static">@Model.ServiceSchedule.VisitationLocation</p>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        @if(!Model.ServiceSchedule.Restrictions.IsEmpty()) {
                                            <div class="form-group">
                                                <label>Restrictions:</label>
                                                <p class="form-control-static">@Model.ServiceSchedule.Restrictions</p>
                                            </div>
                                        }
                                    </div>

                                </div>
                                <div class="panel-group">
                                @if (Model.ServiceSchedule.Sunday)
                                {
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="row">

                                                <div class="col-md-4">
                                                    <div class="form-group form-inline">
                                                        <label>Day:</label>
                                                        <p class="form-control-static">Sunday</p>
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group form-inline">
                                                        <label>Start Time: </label>
                                                        <p class="form-control-static">@Model.ServiceSchedule.SunStartTime.Value.ToString("t")</p>
                                                    </div>
                                                </div>
                                                
                                                <div class="col-md-4">
                                                    <div class="form-group form-inline">
                                                        <label>Duration: </label>
                                                        <p class="form-control-static">@Model.ServiceSchedule.SunDuration hours</p>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                }

                                    @if (Model.ServiceSchedule.Monday)
                                    {
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <div class="row">

                                                    <div class="col-md-4">
                                                        <div class="form-group form-inline">
                                                            <label>Day:</label>
                                                            <p class="form-control-static">Monday</p>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4">
                                                        <div class="form-group form-inline">
                                                            <label>Start Time: </label>
                                                            <p class="form-control-static">@Model.ServiceSchedule.MonStartTime.Value.ToString("t")</p>
                                                        </div>
                                                    </div>
                                                
                                                    <div class="col-md-4">
                                                        <div class="form-group form-inline">
                                                            <label>Duration: </label>
                                                            <p class="form-control-static">@Model.ServiceSchedule.MonDuration hours</p>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    }
                                    
                                    @if (Model.ServiceSchedule.Tuesday)
                                    {
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <div class="row">

                                                    <div class="col-md-4">
                                                        <div class="form-group form-inline">
                                                            <label>Day:</label>
                                                            <p class="form-control-static">Tuesday</p>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4">
                                                        <div class="form-group form-inline">
                                                            <label>Start Time: </label>
                                                            <p class="form-control-static">@Model.ServiceSchedule.TueStartTime.Value.ToString("t")</p>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4">
                                                        <div class="form-group form-inline">
                                                            <label>Duration: </label>
                                                            <p class="form-control-static">@Model.ServiceSchedule.TueDuration hours</p>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    }
                                    
                                    @if (Model.ServiceSchedule.Wednesday)
                                    {
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <div class="row">

                                                    <div class="col-md-4">
                                                        <div class="form-group form-inline">
                                                            <label>Day:</label>
                                                            <p class="form-control-static">Wednesday</p>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4">
                                                        <div class="form-group form-inline">
                                                            <label>Start Time: </label>
                                                            <p class="form-control-static">@Model.ServiceSchedule.WedStartTime.Value.ToString("t")</p>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4">
                                                        <div class="form-group form-inline">
                                                            <label>Duration: </label>
                                                            <p class="form-control-static">@Model.ServiceSchedule.WedDuration hours</p>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    }
                                    
                                    @if (Model.ServiceSchedule.Thursday)
                                    {
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <div class="row">

                                                    <div class="col-md-4">
                                                        <div class="form-group form-inline">
                                                            <label>Day:</label>
                                                            <p class="form-control-static">Thursday</p>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4">
                                                        <div class="form-group form-inline">
                                                            <label>Start Time: </label>
                                                            <p class="form-control-static">@Model.ServiceSchedule.ThurStartTime.Value.ToString("t")</p>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4">
                                                        <div class="form-group form-inline">
                                                            <label>Duration: </label>
                                                            <p class="form-control-static">@Model.ServiceSchedule.ThurDuration hours</p>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    }
                                    
                                    @if (Model.ServiceSchedule.Friday)
                                    {
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <div class="row">

                                                    <div class="col-md-4">
                                                        <div class="form-group form-inline">
                                                            <label>Day:</label>
                                                            <p class="form-control-static">Friday</p>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4">
                                                        <div class="form-group form-inline">
                                                            <label>Start Time: </label>
                                                            <p class="form-control-static">@Model.ServiceSchedule.FriStartTime.Value.ToString("t")</p>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4">
                                                        <div class="form-group form-inline">
                                                            <label>Duration: </label>
                                                            <p class="form-control-static">@Model.ServiceSchedule.FriDuration hours</p>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    }
                                    
                                    @if (Model.ServiceSchedule.Saturday)
                                    {
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <div class="row">

                                                    <div class="col-md-4">
                                                        <div class="form-group form-inline">
                                                            <label>Day:</label>
                                                            <p class="form-control-static">Saturday</p>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4">
                                                        <div class="form-group form-inline">
                                                            <label>Start Time: </label>
                                                            <p class="form-control-static">@Model.ServiceSchedule.SatStartTime.Value.ToString("t")</p>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4">
                                                        <div class="form-group form-inline">
                                                            <label>Duration: </label>
                                                            <p class="form-control-static">@Model.ServiceSchedule.SatDuration hours</p>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    }
                                    

                                </div>



                                

                            </div>
                        </div>
                    </div>
                }













            </div>
        </div>

    </div><!-- Panel Body End --->

    
    <div class="panel-footer">
        <input type="button" class="btn btn-primary" value="Back" onclick="window.history.back()" />
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
    <script>
        $(document).ready(function () {

           

            


        });
    </script>






    
    



}