@using JumpLineUp.Migrations
@using JumpLineUp.Models
@model JumpLineUp.ViewModels.SupportServices.SupportServicesViewModel
@{
    ViewBag.Title = "New Support Service";
}


<br/>   


<form>
    <div class="panel panel-default">


        <div class="panel-heading">
            <h2>Create New Support Service</h2>
        </div><!-- End of Panel Header -->

        <div class="panel-body">

            <div class="container">
                <div class="row">
                    <h4>Basic Case Information</h4>
                    <div class="col-md-6">

                        <div class="form-group">
                            <label for="MasterCaseNumber">Master Case Number</label>
                            <input id="MasterCaseNumber" type="text" value="" class="form-control" />
                            <span id="errMasterCaseNumber" class="field-validation-error">&nbsp;</span>
                        </div>

                        <div class="form-group">
                            <label for="ServiceAreaId">Service Area</label>
                            <select id="ServiceAreaId" type="text" value="" class="form-control">
                                <option value>-- Select Service Area --</option>
                                @foreach (var serviceArea in Model.ServiceAreas)
                                {
                                    <option value="@serviceArea.Id">@serviceArea.ServiceAreaAbbreviation</option>
                                }
                            </select>
                            <span id="errServiceAreaId" class="field-validation-error">&nbsp;</span>
                        </div>

                    </div><!-- End of Col-Md-6 -->

                    <div class="col-md-6">
                       
                        <div class="form-group">
                            <label for="AuthorizationNumber">Authorization Number</label>
                            <input id="AuthorizationNumber" type="text" value="" class="form-control" />
                            <span id="errAuthorizationNumber" class="field-validation-error">&nbsp;</span>
                        </div>
                        
                        <div class="form-group">
                            <label for="ServiceTypeId">Service Type </label>
                            <select id="ServiceTypeId" type="text" value="" class="form-control">
                                <option value>-- Select Service Area --</option>
                                @foreach (var type in Model.ServiceTypes)
                                {
                                    <option value="@type.Id">@type.ServiceAbbrieviation - @type.ServiceName</option>
                                }
                            </select>
                            <span id="errServiceTypeId" class="field-validation-error">&nbsp;</span>
                        </div>


                    </div><!-- End of Col-Md-6 -->

                </div><!-- End of Row -->
            
            
            </div>
                <hr />
            <div class="container">
            

                <div class="row">
                    <h4>Service Timeline</h4>
                    <div class="col-md-6">


                        <div class="form-group">
                            <label for="ServiceStart">Service Start Date</label>
                            <input id="ServiceStart" type="text" value="" class="form-control datepicker"/>
                            <span id="errServiceStart" class="field-validation-error">&nbsp;</span>
                        </div>

                    </div><!-- End of Col-Md-6 -->
                    <div class="col-md-6">

                        <div class="form-group">
                            <label for="ServiceStop">Service End Date</label>
                            <input id="ServiceStop" type="text" value="" class="form-control datepicker"/>
                            <span id="errServiceStop" class="field-validation-error">&nbsp;</span>
                        </div>

                    </div><!-- End of Col-Md-6 -->

                </div><!-- End of Row -->
                
            

            </div>
            <hr />
            <div class="container">
            
            

                <div class="row">
                    <h4>Individuals Involved</h4>
                    <div class="col-md-6">

                        <div class="form-group">
                            <label for="CfsWorkerId">
                                <button class="btn btn-default btn-xs btn-modal-cfs" type="button" style="color: lightgreen">
                                    <i class="glyphicon glyphicon-plus"> </i>
                                </button>
                                DHHS Case Worker
                            </label>
                            <div class="tt-container">
                                <input id="CfsWorkerId" type="text" value="" class="form-control" />
                            </div>
                            <span id="errCfsWorkerId" class="field-validation-error">&nbsp;</span>
                        </div>

                        <ul id="cfsWorker" class="list-group typeahead-selectedbox">
                            <li id="selected-cfsWorker" class="list-group-item">&nbsp;</li>
                        </ul>

                        



                        <div class="form-group">
                            <label for="ClientIds">
                                <button class="btn btn-default btn-xs btn-modal-client" type="button" style="color: lightgreen">
                                    <i class="glyphicon glyphicon-plus"> </i>
                                </button>
                                Clients Involved
                            </label>
                            <div class="tt-container">
                                <input id="ClientIds" type="text" value="" class="form-control typeahead"/>
                            </div>
                            <span id="errClientIds" class="field-validation-error">&nbsp;</span>
                        </div>

                        <ul id="clients" class="list-group typeahead-selectedbox">
                            <li id="selected-client" class="list-group-item">&nbsp;</li>
                        </ul>
                        
                            
                        
                        </div><!-- End of Col-Md-6 -->

                        <div id="toggleable" class="col-md-6 hidden">
                        
                        <div class="form-group">
                            <label for="FosterParentIds">
                                <button class="btn btn-default btn-xs btn-modal-fosterParent" type="button" style="color: lightgreen">
                                    <i class="glyphicon glyphicon-plus"> </i>
                                </button>
                                Foster Family Involved
                            </label>
                            <div class="tt-container">
                                <input id="FosterParentIds" type="text" value="" class="form-control typeahead"/>
                            </div>
                            <span id="errForsterParentIds" class="field-validation-error">&nbsp;</span>
                        </div>

                        <ul id="fosterParents" class="list-group typeahead-selectedbox">
                            <li id="selected-fosterParents" class="list-group-item">&nbsp;</li>
                        </ul> 
                    
                    
                    

                        <div class="form-group">
                            <label for="YouthId">
                                <button class="btn btn-default btn-xs btn-modal-youth" type="button" style="color: lightgreen">
                                    <i class="glyphicon glyphicon-plus"> </i>
                                </button>
                                Youth Involved
                            </label>
                            <div class="tt-container">
                                <input id="YouthId" type="text" value="" class="form-control" />
                            </div>
                            <span id="errYouthId" class="field-validation-error">&nbsp;</span>
                        </div>

                        <ul id="youthId" class="list-group typeahead-selectedbox">
                            
                        </ul>
                    
                        <div class="form-group">
                            <label for="OtherContactId">
                                <button class="btn btn-default btn-xs btn-modal-otherContact" type="button" style="color: lightgreen">
                                    <i class="glyphicon glyphicon-plus"> </i>
                                </button>
                                Other Contacts Involved
                            </label>
                            <div class="tt-container">
                                <input id="OtherContactId" type="text" value="" class="form-control" />
                            </div>
                            <span id="errOtherContactId" class="field-validation-error">&nbsp;</span>
                        </div>

                        <ul id="otherContactId" class="list-group typeahead-selectedbox"></ul>
                        
                        
                        
                        
                        
                        
                        
                        
                        

                    </div><!-- End of Col-Md-6 -->
                </div><!-- End of Row -->
            
                
                

            </div><!-- End of Container -->

        </div><!-- End of Panel Body -->

        <div class="panel-footer">
            
            <button class="btn btn-primary" id="supportServiceSubmit"> Add New Service </button>

        </div><!-- End of Panel Footer -->
    </div><!-- End of Panel -->
</form>

@section scripts{
    <script src="~/Scripts/ApiAddEditForms/PopupYouthForm.js"></script>    
    <script src="~/Scripts/ApiAddEditForms/PopupClientForm.js"></script>    
    <script src="~/Scripts/ApiAddEditForms/PopupCfsWorkerForm.js"></script>    
    <script src="~/Scripts/ApiAddEditForms/PopupOtherContactForm.js"></script>    
    <script src="~/Scripts/ApiAddEditForms/PopupFosterParentForm.js"></script>    
    <script>


        $(document).ready(function() {


            var serviceFormDto = {
                MasterCaseNumber: null,
                AuthorizationNumber: null,
                ServiceStart: null,
                ServiceStop: null,
                ClientId: 0,
                YouthId: [],
                OtherContactId: [],
                ServiceAreaId: 0,
                ServiceTypeId: 0,
                CfsWorkerId: 0,
                FosterParentId: 0,
                OnHold: false
            };

            $(".datepicker").datepicker({
                showButtonPanel: true,
                changeMonth: true,
                changeYear: true,
                showOtherMonths: true,
                selectOtherMonths: true
            });

            //hides or shows foster and youth field depending on the service type selected.
            $("#ServiceTypeId").change(function() {

                var index = $("#ServiceTypeId").find(":selected").attr("value");
                if (index === "1" || index === "2" || index === "6" || index === "8" || index === "9" || 
                    index === "12" || index === "13" || index === "14" || index === "15") {

                    $("#toggleable").addClass("hidden");
                   
                } else {
                    $("#toggleable").removeClass("hidden");
                    
                }
            });










    //Functions run when form is submitted
    //---------------------------------------------------------------------------------------------------------------
            $("#supportServiceSubmit").click(function(e) {
                e.preventDefault();

                //Validation for Support Service Form
                var valid = true;
                var needsFoster = false;

                if (/^\d+$/.test($("#MasterCaseNumber").val()) && $("#MasterCaseNumber").val().trim()) {
                    serviceFormDto.MasterCaseNumber = $("#MasterCaseNumber").val();
                    $("#errMasterCaseNumber").html("&nbsp;");
                } else {
                    $("#errMasterCaseNumber").html("Master case number is required and must be a number.");
                    valid = false;
                }


                if ($("#ServiceAreaId")[0].selectedIndex > 0) {
                    serviceFormDto.ServiceAreaId = $("#ServiceAreaId")[0].selectedIndex;
                    $("#errServiceAreaId").html("&nbsp;");
                } else {
                    $("#errServiceAreaId").html("Service area is required.");
                    valid = false;
                }


                if (/^\d+$/.test($("#AuthorizationNumber").val()) && $("#AuthorizationNumber").val().trim()) {
                    serviceFormDto.AuthorizationNumber = $("#AuthorizationNumber").val();
                    $("#errAuthorizationNumber").html("&nbsp;");
                } else {
                    $("#errAuthorizationNumber").html("Authorization number is required and must be a number.");
                    valid = false;
                }


                if ($("#ServiceTypeId")[0].selectedIndex > 0) {
                    serviceFormDto.ServiceTypeId = $("#ServiceTypeId")[0].selectedIndex;
                    $("#errServiceTypeId").html("&nbsp;");
                } else {
                    $("#errServiceTypeId").html("Service type is required.");
                    valid = false;
                }


                if ($("#ServiceStart").datepicker("getDate") == null) {
                    $("#errServiceStart").html("Service start date is required.");
                    valid = false;
                } else {
                    serviceFormDto.ServiceStart = $("#ServiceStart").datepicker({ dateFormat: 'dd-mm-yy' }).val();
                    $("#errServiceStart").html("&nbsp;");
                }


                if ($("#ServiceStop").datepicker("getDate") == null) {
                    $("#errServiceStop").html("Service stop date is required.");
                    valid = false;
                } else {
                    serviceFormDto.ServiceStop = $("#ServiceStop").datepicker({ dateFormat: 'dd-mm-yy' }).val();
                    $("#errServiceStop").html("&nbsp;");
                }


                if (serviceFormDto.CfsWorkerId === 0) {
                    $("#errCfsWorkerId").html("CFS Worker is required.");
                    valid = false;
                } else {
                    $("#errCfsWorkerId").html("&nbsp;");
                }


                if (serviceFormDto.ClientId === 0) {
                    $("#errClientIds").html("Client is required.");
                    valid = false;
                } else {
                    $("#errClientIds").html("&nbsp;");
                }


                if ($("#ServiceTypeId")[0].selectedIndex > 0) {
                    var serviceId = $("#ServiceTypeId")[0].selectedIndex;
                    if ([1, 2, 6, 8, 9, 12, 13, 14, 15].indexOf(serviceId) > -1) {
                        $("#toggleable").toggleClass("hidden", true);
                        $("#errYouthId").html("&nbsp;");
                        serviceFormDto.YouthId = [];
                    } else {
                        $("#toggleable").toggleClass("hidden", false);
                        if (serviceFormDto.YouthId.length < 1) {
                            $("#errYouthId").html("At least one youth is required.");
                            valid = false;
                        } else {
                            $("#errYouthId").html("&nbsp;");
                        }

                        needsFoster = true;
                    }
                }


                if (needsFoster) {
                    if (serviceFormDto.FosterParentId === 0) {
                        $("#errForsterParentIds").html("Foster parent is required.");
                        valid = false;
                    } else {
                        $("#errForsterParentIds").html("&nbsp;");
                    }
                } else {
                    $("#errForsterParentIds").html("&nbsp;");
                }


                if (valid) {
                    $.ajax({
                            url: "/api/SupportServices",
                            method: "post",
                            data: serviceFormDto
                        })
                        .done(function (result) {
                            toastr.success("Support services added");
                        })
                        .fail(function () {
                            toastr.error("Something is missing, please review the form.");
                        });
                } else {
                    return false;
                }









            });


    //YOUTH TYPEAHEAD --------------------------------------------------------------------------------------------------------------------
    //This allows the user to start typing, and it will query the database and allow multiple selection of youth items.
            var youth = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('firstName', 'lastName'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/youths?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#YouthId').typeahead({
                    minLength: 3,
                    highlight: true
                },
                {
                    name: 'youthId',
                    display: "youth as youth.firstName + ' ' + youth.lastName",
                    source: youth,
                    templates: {
                        empty: ['&nbsp;&nbsp; Youth not found, Click the green + above to add.'].join('\n'),
                        suggestion: function (data) {
                            return '<div><strong>' + data.firstName + ' ' + data.lastName + '</strong></div>';
                        }
                    }
                }).on("typeahead:select",
                function (e, youth) {
                    serviceFormDto.YouthId.push(youth.id);
                    $("#youthId").append("<li class ='list-group-item'>" +
                        "<strong>Selected:</strong> " + youth.firstName + " " + youth.lastName + "<span id='" + youth.id + "' class='close'>X</span></li>");
                });

            //Clears out the youth when the x is clicked by getting the youth id, checking if its in the array, and removing it.  It also removes the list item.
            $("#youthId").on("click", ".close", function () {

                var youthId = $(this).attr("id");
                alert(youthId);
                if (jQuery.inArray(youthId, serviceFormDto.YouthId)) {
                    serviceFormDto.YouthId = jQuery.grep(serviceFormDto.YouthId, function(value) {
                        return value != youthId;
                    });
                    $(this).parent().remove();
                } else {
                    $(this).parent().remove();
                }
            });




    //FOSTER PARENT TYPEAHEAD --------------------------------------------------------------------------------------------------------------------
    //This allows the user to start typing, and it will query the database and allow multiple selection of foster parent items.
            var fosterParent = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('firstName', 'lastName'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/FosterParents?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#FosterParentIds').typeahead({
                minLength: 3,
                highlight: true
            },
                {
                    name: 'fosterParentId',
                    display: "fosterParent as fosterParent.firstName1 + ' & ' + fosterParent.firstName2 + ' ' + fosterParent.lastName1",
                    source: fosterParent,
                    templates: {
                        empty: [
                            '<div>',
                            '&nbsp;&nbsp; Foster Parents not found, Click the green + above to add.',
                            '</div>'
                        ].join('\n'),
                        suggestion: function (data) {
                            return '<div><strong>' + data.firstName1 + ' & ' + data.firstName2 + ' ' + data.lastName1 + '</strong></div>';
                        }
                    }
                }).on("typeahead:select",
                function (e, fosterParent) {
                    serviceFormDto.FosterParentId = fosterParent.id;
                    document.getElementById("selected-fosterParents").innerHTML = "<strong>Selected</strong>: " + fosterParent.firstName1 + " & " + fosterParent.firstName2 + " " +fosterParent.lastName1;
                });






    //CFS WORKER TYPEAHEAD ----------------------------------------------------------------------------------------------------------
    //This allows the user to start typing, and it will query the database and allow multiple selection of CFS Worker items.
            var cfsWorker = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('firstName', 'lastName'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/cfsWorkers?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#CfsWorkerId').typeahead({
                    minLength: 3,
                    highlight: true
                },
                {
                    name: 'cfsWorkerId',
                    display: "cfsWorker as cfsWorker.firstName + ' ' + cfsWorker.lastName",
                    source: cfsWorker,
                    templates: {
                        empty: [
                            '<div>',
                            '&nbsp;&nbsp; CFS Worker not found, Click the green + above to add.',
                            '</div>'
                        ].join('\n'),
                        suggestion: function (data) {
                            return '<div><strong>' + data.firstName + ' ' + data.lastName + '</strong></div>';
                        }
                    }
                }).on("typeahead:select",
                function (e, cfsWorker) {
                    serviceFormDto.CfsWorkerId = cfsWorker.id;
                    document.getElementById("selected-cfsWorker").innerHTML = "<strong>Selected</strong>: " + cfsWorker.firstName + " " + cfsWorker.lastName;
                });



    //CLIENT GUARDIAN TYPEAHEAD ----------------------------------------------------------------------------------------------------------
    //This allows the user to start typing, and it will query the database and allow multiple selection of CFS Worker items.
            var clients = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('masterCaseNumber', 'firstName', 'lastName'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/clients?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#ClientIds').typeahead({
                    minLength: 3,
                    highlight: true
                },
                {
                    name: 'clientId',
                    display: "client as client.firstName + ' ' + client.lastName",
                    source: clients,
                    templates: {
                        empty: [
                            '<div>',
                            '&nbsp;&nbsp; Client not found, Click the green + above to add.',
                            '</div>'
                        ].join('\n'),
                        suggestion: function (data) {
                            return '<div><strong>' + data.firstName + ' ' + data.lastName + '</strong></div>';
                        }
                    }
                }).on("typeahead:select",
                function (e, client) {
                    serviceFormDto.ClientId = client.id;
                    document.getElementById("selected-client").innerHTML = "<strong>Selected</strong>: " + client.firstName + " " + client.lastName;
                    //$("#clients").append("<li class ='list-group-item'>" + client.firstName + " " + client.lastName + "</li>");
                });





    //OTHER CONTACT TYPEAHEAD ----------------------------------------------------------------------------------------------------------
    //This allows the user to start typing, and it will query the database and allow multiple selection of Other Contact items.
            var otherContacts = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('firstName', 'lastName'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/OtherContacts?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#OtherContactId').typeahead({
                    minLength: 3,
                    highlight: true
                },
                {
                    name: 'otherContactId',
                    display: "otherContact as otherContact.firstName + ' ' + otherContact.lastName",
                    source: otherContacts,
                    templates: {
                        empty: [
                            '<div>',
                            '&nbsp;&nbsp; Other Contact not found, Click the green + above to add.',
                            '</div>'
                        ].join('\n'),
                        suggestion: function (data) {
                            return '<div><strong>' + data.firstName + ' ' + data.lastName + '</strong></div>';
                        }
                    }
                }).on("typeahead:select",
                function (e, otherContact) {
                    serviceFormDto.OtherContactId.push(otherContact.id);
                    $("#otherContactId").append("<li class ='list-group-item'>" +
                        "<strong>Selected:</strong> " + otherContact.firstName + " " + otherContact.lastName + "<span id='" + otherContact.id + "' class='close'>X</span></li>");
                });


            //Clears out the other contact when the x is clicked by getting the other contact id, checking if its in the array, and removing it.  It also removes the list item.
            $("#otherContactId").on("click", ".close", function () {

                var otherContactId = $(this).attr("id");

                if (jQuery.inArray(otherContactId, serviceFormDto.OtherContactId) != -1) {
                    serviceFormDto.OtherContactId = jQuery.grep(serviceFormDto.OtherContactId, function (value) {
                        return value != otherContactId;
                    });
                    $(this).parent().remove();
                } else {
                    $(this).parent().remove();
                }
            });








        });

    </script>

}