@using JumpLineUp.Models
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("BLCS LineUp", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
         
                
                @if (Request.IsAuthenticated)
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Service Management<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Create New Service", "Create", "SupportServices")</li>
                            
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Data Management<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            @if (User.IsInRole(RoleName.CanManageCfsWorkers))
                            {
                                <li>@Html.ActionLink("CFS Workers", "Index", "CfsWorker")</li>
                            }
                            @if (User.IsInRole(RoleName.CanManageBlcsOffice))
                            {
                                <li>@Html.ActionLink("BLCS Offices", "Index", "BlcsOffice")</li>
                            }
                            @if (User.IsInRole(RoleName.CanManageFosterParents))
                            {
                                <li>@Html.ActionLink("Foster Parents", "Index", "FosterParent")</li>
                            }
                            @if (User.IsInRole(RoleName.CanManageGuardians))
                            {
                                <li>@Html.ActionLink("Guardian Clients", "Index", "Client")</li>
                                <li>@Html.ActionLink("Create Family","Create", "ClientFamily")</li>
                            }    
                            @if (User.IsInRole(RoleName.CanManageYouth))
                            {
                                <li>@Html.ActionLink("Youth Clients", "Index", "Youth")</li>
                            }@if (User.IsInRole(RoleName.CanManageServiceTypes))
                             {
                                 <li>@Html.ActionLink("BLCS Services", "Index", "ServiceType")</li>
                             }
                            
                        </ul>
                    </li>
                    @Html.Partial("_AdminPartial")

                }
                

            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
