@using JumpLineUp.Helpers
@model  JumpLineUp.ViewModels.FosterParents.FosterParentIndexViewModel

@{
    ViewBag.Title = "Foster Parents";

}
<br />
<div class="panel panel-default">

    <div class="panel-heading">
        <div class="btn-toolbar pull-right" style="margin: 14px 0px;">
            @Html.ActionLink("Add Foster Parent", "Create", "FosterParent", new { }, new { @class = "btn btn-primary" })
        </div>
        <h2>Manage Foster Parents</h2>
    </div><!-- End of Panel Heading -->

    <div class="panel-body">

        <table id="fosterParentTable" class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th>Status</th>
                    <td>Name</td>
                    <td>City</td>
                    <td>Phone Number</td>
                    <td>Edit</td>

                </tr>
            </thead>

            <tbody>
                @foreach (var parent in Model.FosterParents)
                {
                    
                    <tr>@{
                           
                        var formated = Phone.DisplayPhone(parent.Phone);
                        var icon = "glyphicon glyphicon-remove";
                        var color = "color: #e07979";
                        var text = "Disabled";
                        if (parent.IsEnabled)
                        {
                            icon = "glyphicon glyphicon-ok";
                            color = "color: lightgreen";
                            text = "Enabled";
                        }
                        }
                    <td>@text <span class="@icon" style="@color"></span></td>
                    <td>@parent.FirstName @parent.LastName</td>
                    <td>@parent.City</td>
                    <td><a href="tel:@parent.Phone">@formated</a></td>
                    <td>@Html.ActionLink("Edit Foster Parent", "Edit", "FosterParent", new { id = parent.Id }, new { @class = "btn btn-sm btn-default" })</td>

                </tr>
                        }
            </tbody>
        </table>

    </div><!-- End of Panel Body -->

</div><!-- End of Panel -->









@section scripts{
    <script>
    $(document).ready(function() {
        var tableName = "#fosterParentTable";

        $(tableName).DataTable({
                "columnDefs": [
                {
                    "targets": 4,
                    "orderable": false
                }
            ]
        });

    });
    </script>
}