@using JumpLineUp.Helpers
@using JumpLineUp.Models
@model  JumpLineUp.ViewModels.ServiceType.ServiceTypeIndexViewModel

@{
    ViewBag.Title = "ServiceType";

}
<br />
<div class="panel panel-default">

    <div class="panel-heading">
        @if (User.IsInRole(RoleName.CanManageServiceTypes))
        {
            <div class="btn-toolbar pull-right" style="margin: 14px 0px;">
                @Html.ActionLink("Add Service Type", "Create", "ServiceType", new { }, new { @class = "btn btn-primary" })
            </div>
        }
        <h2>Manage BLCS Services</h2>
    </div><!-- End of Panel Heading -->

    <div class="panel-body">

        <table id="serviceTable" class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th>Status</th>
                    <th>Service Code</th>
                    <th>Service Name</th>
                    @if (User.IsInRole(RoleName.CanManageServiceTypes))
                    {
                        <th>Edit</th>
                    }
                    

                </tr>
            </thead>

            <tbody>
                @foreach (var service in Model.ServiceTypes)
                {
                    
                    <tr>@{
                        var icon = "glyphicon glyphicon-remove";
                        var color = "color: #e07979";
                        var text = "Disabled";
                        if (service.CurrentService)
                        {
                            icon = "glyphicon glyphicon-ok";
                            color = "color: lightgreen";
                            text = "Enabled";
                        }
                        }
                    <td>@text <span class="@icon" style="@color"></span></td>
                    <td>@service.ServiceCode</td>
                    <td>@service.ServiceName</td>
                    @if (User.IsInRole(RoleName.CanManageServiceTypes))
                    {
                        <td>@Html.ActionLink("Edit Service", "Edit", "ServiceType", new { id = service.Id }, new { @class = "btn btn-sm btn-default" })</td>
                    }

                </tr>
                        }
            </tbody>
        </table>

    </div><!-- End of Panel Body -->

</div><!-- End of Panel -->









@section scripts{
    <script>
    $(document).ready(function() {
        var tableName = "#serviceTable";

        $(tableName).DataTable({
                "columnDefs": [
                {
                    "targets": 3,
                    "orderable": false
                }
            ]
        });

    });
    </script>
}