@using JumpLineUp.Helpers
@model  JumpLineUp.ViewModels.BlcsOffice.BlcsOfficeIndexViewModel

@{
    ViewBag.Title = "BLCS Offices";

}
<br />
<div class="panel panel-default">

    <div class="panel-heading">
        <div class="btn-toolbar pull-right" style="margin: 14px 0px;">
            @Html.ActionLink("Add Office", "Create", "BlcsOffice", new { }, new { @class = "btn btn-primary" })
        </div>
        <h2>Manage User</h2>
    </div><!-- End of Panel Heading -->

    <div class="panel-body">

        <table id="officeTable" class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th>Status</th>
                    <td>Office</td>
                    <td>City</td>
                    <td>Phone Number</td>
                    <td>Edit</td>

                </tr>
            </thead>

            <tbody>
                @foreach (var office in Model.Offices)
                {
                    
                    <tr>@{
                           
                        var formated = Phone.DisplayPhone(office.Phone);
                        var icon = "glyphicon glyphicon-remove";
                        var color = "color: #e07979";
                        var text = "Disabled";
                        if (office.IsEnabled)
                        {
                            icon = "glyphicon glyphicon-ok";
                            color = "color: lightgreen";
                            text = "Enabled";
                        }
                        }
                    <td>@text <span class="@icon" style="@color"></span></td>
                    <td>@office.LocationDescription</td>
                    <td>@office.City</td>
                    <td><a href="tel:@office.Phone">@formated</a></td>
                   
                    <td>@Html.ActionLink("Edit Office", "Edit", "BlcsOffice", new { id = office.Id }, new { @class = "btn btn-sm btn-default" })</td>

                </tr>
                        }
            </tbody>
        </table>

    </div><!-- End of Panel Body -->

</div><!-- End of Panel -->









@section scripts{
    <script>
    $(document).ready(function() {
        var tableName = "#officeTable";

        $(tableName).DataTable({
                "columnDefs": [
                {
                    "targets": 4,
                    "orderable": false
                }
            ]
        });

    });
    </script>
}