@using System.Web.UI.WebControls
@model JumpLineUp.ViewModels.Client.ClientCrudViewModel
@{
    ViewBag.Title = "Guardian Clients";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = (Model.Guardian.Id == 0) ? "New Guardian" : "Update Guardian";
    var buttonTxt = (Model.Guardian.Id == 0) ? "Save Guardian" : "Update Guardian";

}

<br />
@using (Html.BeginForm("Save", "Client"))
{
    <div class="panel panel-default">

        <div class="panel-heading">
            <h2>@title</h2>
        </div><!--Panel Heading End-->

        <div class="panel-body">
        
            <div class="form-group">
                @Html.LabelFor(m => m.Guardian.ClientId)
                @Html.TextBoxFor(m => m.Guardian.ClientId, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Guardian.ClientId)
            </div>
        
            <div class="form-group">
                @Html.LabelFor(m => m.Guardian.MasterCaseNumber)
                @Html.TextBoxFor(m => m.Guardian.MasterCaseNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Guardian.MasterCaseNumber)
            </div>
        
        <hr/>

            <div class="form-group">
                @Html.LabelFor(m => m.Guardian.FirstName)
                @Html.TextBoxFor(m => m.Guardian.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Guardian.FirstName)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Guardian.LastName)
                @Html.TextBoxFor(m => m.Guardian.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Guardian.LastName)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Guardian.Phone)
                @Html.TextBoxFor(m => m.Guardian.Phone, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Guardian.Phone)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Guardian.Street1)
                @Html.TextBoxFor(m => m.Guardian.Street1, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Guardian.Street1)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Guardian.Street2)
                @Html.TextBoxFor(m => m.Guardian.Street2, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Guardian.Street2)
            </div>


            <div class="form-group">
                @Html.LabelFor(m => m.Guardian.City)
                @Html.TextBoxFor(m => m.Guardian.City, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Guardian.City)
            </div>
        

            <div class="form-group">
                @Html.LabelFor(m => m.Guardian.State)
                @Html.TextBoxFor(m => m.Guardian.State, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Guardian.State)
            </div>
        

            <div class="form-group">
                @Html.LabelFor(m => m.Guardian.Zip)
                @Html.TextBoxFor(m => m.Guardian.Zip, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Guardian.Zip)
            </div>

            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(m => m.Guardian.IsEnabled, new { @checked = true }) Currently Active?
                </label>
            </div>

            @Html.HiddenFor(m => m.Guardian.Id)





        </div><!--Panel Body End-->
        <div class="panel-footer">
            <input type="button" class="btn btn-primary" value="Back" onclick="window.history.back()" />
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-primary">@buttonTxt</button>


        </div>
    </div><!--Panel End-->
}

@section scripts{


}

